# Node
node_modules/
npm-debug.log

# Env
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Fabric
fabric-samples/
*.tar.gz

# Ethereum / Hardhat
eth/artifacts/
eth/cache/

# Build
dist/
build/

# QR
*.png

coverage/

# Backend
backend/node_modules/
backend/.env

# Eth
eth/node_modules/

# SMS Gateway
sms-gateway/node_modules/
sms-gateway/.env
