# Node
node_modules/
npm-debug.log

# Env
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Fabric
fabric-samples/
*.tar.gz

# Ethereum
artifacts/
cache/

# Build
dist/
build/

# QR
*.png

coverage/
