PORT=3001
FABRIC_CHANNEL=mychannel
FABRIC_CHAINCODE=herbcc
JWT_SECRET=
ADMIN_CERT=
ADMIN_KEY_DIR=
PEER_TLS_CERT=
ETHEREUM_ENABLED=true
ETHEREUM_RPC_URL=
ETHEREUM_PRIVATE_KEY=
ETHEREUM_CONTRACT_ADDRESS=
